.button {
  text-transform: uppercase;
  letter-spacing: 0.257rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  width: 35rem;
  height: 4.8rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #38384f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button :last-of-type {
  margin-bottom: 0;
}
.button span {
  color: #838391;
  font-size: 1.2rem;
  padding-inline: 2.8rem;
  letter-spacing: 0.257rem;
  line-height: 2.5rem;
}
.button:hover {
  background-color: #38384f;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button .active {
  background-color: #419ebb;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.navbar {
  display: fixed;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: 8.5rem;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .button {
    width: 35vw;
    max-width: 28rem;
    height: 4rem;
  }
  .button:hover {
    background-color: #419ebb;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  .button {
    width: auto;
    height: 100%;
    border: none;
    margin: auto;
    text-align: center;
    padding: 2rem 0;
    background-color: transparent;
  }
  .button:hover {
    background-color: transparent;
  }
  .button h3 {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  background-color: #070724;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding-left: 10.5vw;
  padding-right: 10.5vw;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: clamp(6rem, 6vw, 8rem);
  line-height: 10.3rem;
  color: #ffffff;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: clamp(2.5rem, 3vw, 4rem);
  line-height: 5.2rem;
  letter-spacing: -0.15rem;
  color: #ffffff;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.26rem;
  color: #ffffff;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

p {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.4rem);
  line-height: 2.5rem;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4.8rem;
    line-height: auto;
  }
  h2 {
    font-size: 2.4rem;
    letter-spacing: -0.09rem;
  }
  h3,
.button span {
    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 0.193rem;
  }
  h4 {
    font-size: 0.8rem;
    letter-spacing: 0.073rem;
    line-height: 1.6rem;
  }
  .navbar h4 {
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    line-height: 2.5rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
  main {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: -0.075rem;
    line-height: 2rem;
  }
  h3,
.button span {
    font-size: 0.9rem;
    line-height: auto;
    letter-spacing: 0.193rem;
  }
  h4 {
    font-size: 0.8rem;
    letter-spacing: 0.073rem;
    line-height: 1.6rem;
  }
  .navbar h4 {
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
    line-height: 2.5rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
  main {
    height: auto;
    padding: 0;
  }
}
.planets {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 9rem;
}
.planets__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  position: relative;
}
.planets__top--image {
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
}
.planets__top--info {
  max-width: 35rem;
}
.planets__top--info-title {
  text-transform: uppercase;
}
.planets__top--info-text {
  margin-top: 2rem;
  height: 20rem;
}
.planets__top--info-text p {
  margin-bottom: 2.4rem;
}
.planets__top--info-text span {
  position: relative;
}
.planets__top--info-text span,
.planets__top--info-text span a {
  text-align: end;
  color: #838391;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.planets__top--info-text span a .arrow,
.planets__top--info-text span a a .arrow {
  position: absolute;
  bottom: -1.1rem;
  right: -2rem;
  margin-left: 1rem;
}
.planets__top--info-buttons Button:nth-child(2) {
  margin: 1.6rem 0;
}
.planets__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.planets__bottom--rotation, .planets__bottom--revolution, .planets__bottom--radius, .planets__bottom--average {
  border: 1px solid #38384f;
  padding: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  width: 17vw;
  max-width: 25.5rem;
}
.planets__bottom--rotation-title, .planets__bottom--revolution-title, .planets__bottom--radius-title, .planets__bottom--average-title {
  color: #838391;
  margin-bottom: 0.5rem;
}

.geologyPosition {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.planetImage {
  text-align: center;
}

.active {
  background-color: #419ebb;
}

.inactive {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .planets {
    overflow: hidden;
  }
  .planets__top {
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
  .planets__top--image {
    height: 100%;
    display: grid;
    place-content: center;
  }
  .planets__top--info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    width: 100%;
    height: 25rem;
  }
  .planets__top--info-tablet {
    width: 47vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .planets__top--info-text {
    height: auto;
    margin-top: 0;
  }
  .planets__top--info-text span, .planets__top--info-text span a {
    font-size: 1.2rem;
  }
  .planets__bottom--rotation, .planets__bottom--revolution, .planets__bottom--radius, .planets__bottom--average {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1.5rem;
    width: 21vw;
    height: 8.8rem;
    max-width: 16.4rem;
  }
}
@media screen and (max-width: 576px) {
  .planets {
    padding-top: 6rem;
    padding-bottom: 4.7rem;
  }
  .planets__top {
    text-align: center;
    height: 94vh;
    justify-content: space-evenly;
  }
  .planets__top--image {
    margin-top: 20%;
    display: flex;
    align-items: center;
    height: 40%;
    width: 100%;
  }
  .planets__top--info {
    flex-direction: column;
    height: auto;
    padding: 0 2.4rem;
  }
  .planets__top--info-tablet {
    width: 100%;
    max-width: 32.7rem;
    display: block;
    margin: auto;
  }
  .planets__top--info-title {
    margin-bottom: 1.6rem;
  }
  .planets__top--info-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #38384f;
    border-left: none;
    border-right: none;
  }
  .planets__top--info-buttons span {
    display: none;
  }
  .planets__bottom {
    flex-direction: column;
    padding: 0 2.4rem;
    justify-content: flex-start;
  }
  .planets__bottom--rotation, .planets__bottom--revolution, .planets__bottom--radius, .planets__bottom--average {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    height: 5rem;
    margin-bottom: 0.8rem;
  }
  .active {
    background-color: #419ebb;
  }
  .active h3 {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
  }
  .geologyPosition {
    top: 60%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.2rem;
  border-bottom: 1px solid #38384f;
}
.navbar__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  letter-spacing: -0.105rem;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  width: 47.7vw;
  height: 100%;
}
.navbar__links a {
  display: grid;
  place-items: center;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.navbar__links a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 0.4rem solid #419ebb;
}

.mobileNav {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 15.9rem;
  }
  .navbar__title {
    padding-top: 3.2rem;
  }
  .navbar__links {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    display: none;
  }
  .mobileNav {
    background-color: #070724;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2.4rem;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .mobileNav__title {
    font-family: "Antonio", sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    letter-spacing: -0.105px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 2.8rem;
  }
  .mobileNav__menuBtn {
    height: 1.7rem;
    width: 2.4rem;
  }
  .mobileMenu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    margin-top: 6rem;
    height: calc(100vh - 6rem);
    z-index: 1;
    background-color: #070724;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    padding: 0 2.4rem;
  }
  .mobileMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .mobileMenu ul li {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.136rem;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #38384f;
    padding: 2rem 0;
  }
  .mobileMenu ul li:last-of-type {
    border-bottom: none;
  }
  .mobileMenu__color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 2.5rem;
  }
  .showMenu {
    left: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }
}
