.button {
  text-transform: uppercase;
  letter-spacing: 0.257rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 35rem;
  height: 4.8rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #38384f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button span {
  color: #838391;
  font-size: 1.2rem;
  padding-inline: 2.8rem;
  letter-spacing: 0.257rem;
  line-height: 2.5rem;
}
.button p {
  font-size: 1.2rem;
}
.button:hover {
  background-color: #38384f;
  cursor: pointer;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.button .active {
  background-color: #419ebb;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.navbar {
  display: fixed;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: 8.5rem;
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  background-color: #070724;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 8rem;
  line-height: 10.3rem;
  color: #ffffff;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: -0.15rem;
  color: #ffffff;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.26rem;
  color: #ffffff;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

p {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #ffffff;
}

.mercury {
  color: red;
  height: 54.1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.2rem;
  border-bottom: 1px solid #38384f;
}
.navbar__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  letter-spacing: -0.105rem;
}
.navbar__links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}
.navbar__links a {
  display: grid;
  place-items: center;
  height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.navbar__links a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-top: 0.4rem solid #419ebb;
}
