@import "./_variables";

.button {
    text-transform: uppercase;
    letter-spacing: 0.257rem;
    font-family: $font-spartan;
    font-weight: $spartan-bold;
    display: flex;
    align-items: center;
    width: 35rem;
    height: 4.8rem;
    background-color: transparent;
    color: $white;
    border: 1px solid $dark-gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    & span {
        color: $light-gray;
        font-size: 1.2rem;
        padding-inline: 2.8rem;
        letter-spacing: 0.257rem;
        line-height: 2.5rem;
    }
    & p {
        font-size: 1.2rem;
    }
    &:hover {
        background-color: $dark-gray;
        cursor: pointer;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
    & .active {
        background-color: $light-blue;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
    }
}

.navbar {
    display: fixed;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 8.5rem;
    background-color: transparent;
}
