$white: #ffffff;
$black: #070724;
$dark-gray: #38384f;
$light-gray: #838391;
$light-blue: #419ebb;
$light-orange: #eda249;
$purple: #6f2ed6;
$light-red: #d14c32;
$dark-red: #d83a34;
$dark-orange: #cd5120;
$green: #1ec3a4;
$dark-blue: #2d68f0;

$font-antonio: "Antonio", sans-serif;
$antonio-medium: 500;
$antonio-bold: 700;
$font-spartan: "League Spartan", sans-serif;
$spartan-regular: 400;
$spartan-bold: 700;
